In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ADMIN\Downloads\new_supply_pro\DataCoSupplyChainDataset.csv", encoding="latin1")
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [2]:
df.shape

(180519, 53)

In [3]:
df.tail()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 3:40,Standard Class
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 21:00,Standard Class
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 20:18,Standard Class
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 18:54,Standard Class

In [4]:
df.loc[df['Customer Zipcode'].isna(),['Customer Zipcode','Customer City']]
df.loc[df['Customer City']=="CA"][['Customer Zipcode']]
df['Customer Zipcode']=df['Customer Zipcode'].fillna(df['Customer Zipcode'].mode()[0])

In [ ]:
df.isna().sum()
df['Customer Lname'] = df['Customer Lname'].fillna(df['Customer Lname'].mode()[0])
df.isna().sum()

In [ ]:
df.dtypes

In [7]:
str_columns = df.select_dtypes(include=['object']).columns
df[str_columns] = df[str_columns].apply(lambda x: x.str.strip())

In [ ]:
# df.groupby('Product Name')['Product Name'].count()
# df.groupby('Shipping Mode')['Shipping Mode'].count()
# df.groupby('Delivery Status')['Delivery Status'].count()
# df.groupby('Type')['Type'].count()
# df.groupby('Order Region')['Order Region'].count()

In [ ]:
for col in str_columns:
    df[col] = df[col].str.encode('latin1',errors='ignore').str.decode('utf-8',errors='ignore')

df.dtypes

In [11]:
df['shipping date (DateOrders)'] = pd.to_datetime(df['shipping date (DateOrders)'], errors='coerce')
df['order date (DateOrders)'] = pd.to_datetime(df['order date (DateOrders)'], errors='coerce')

df['Order State'] = df['Order State'].replace('Rajastn', 'Rajasthan')
df['Order State'] = df['Order State'].replace('Tokio', 'Tokyo')

df.groupby('Order State')['Order State'].count()
df['Order City'] = df['Order City'].replace('Tokio', 'Tokyo')
df['Order Country'] = df['Order Country'].replace('Singapur', 'Singapore')
df['Order Country'] = df['Order Country'].replace('Repblica Dominicana', 'Dominican Republic')

In [12]:
fix_map ={
    "Indonesia": "Indonesia",
    "India": "India",
    "Australia": "Australia",
    "China": "China",
    "Japn": "Japan",
    "Corea del Sur": "South Korea",
    "Singapore": "Singapore",
    "Turqua": "Turkey",
    "Mongolia": "Mongolia",
    "Estados Unidos": "United States",
    "Nigeria": "Nigeria",
    "Repblica Democrtica del Congo": "Democratic Republic of the Congo",
    "Senegal": "Senegal",
    "Marruecos": "Morocco",
    "Germany": "Germany",
    "France": "France",
    "Pases Bajos": "Netherlands",
    "Reino Unido": "United Kingdom",
    "Guatemala": "Guatemala",
    "El Salvador": "El Salvador",
    "Panama": "Panama",
    "Dominican Republic": "Dominican Republic",
    "Venezuela": "Venezuela",
    "Colombia": "Colombia",
    "Honduras": "Honduras",
    "Brazil": "Brazil",
    "Mexico": "Mexico",
    "Uruguay": "Uruguay",
    "Argentina": "Argentina",
    "Cuba": "Cuba",
    "Per": "Peru",
    "Nicaragua": "Nicaragua",
    "Ecuador": "Ecuador",
    "Angola": "Angola",
    "Sudan": "Sudan",
    "Somalia": "Somalia",
    "Costa de Marfil": "Ivory Coast",
    "Egypt": "Egypt",
    "Italy": "Italy",
    "Espaa": "Spain",
    "Suecia": "Sweden",
    "Austria": "Austria",
    "Canada": "Canada",
    "Madagascar": "Madagascar",
    "Argelia": "Algeria",
    "Liberia": "Liberia",
    "Zambia": "Zambia",
    "Nger": "Niger",
    "SudAfrica": "South Africa",
    "Mozambique": "Mozambique",
    "Tanzania": "Tanzania",
    "Ruanda": "Rwanda",
    "Israel": "Israel",
    "Nueva Zelanda": "New Zealand",
    "Banglads": "Bangladesh",
    "Tailandia": "Thailand",
    "Irak": "Iraq",
    "Arabia Saud": "Saudi Arabia",
    "Filipinas": "Philippines",
    "Kazajistn": "Kazakhstan",
    "Irn": "Iran",
    "Myanmar (Birmania)": "Myanmar",
    "Uzbekistn": "Uzbekistan",
    "Benn": "Benin",
    "Camern": "Cameroon",
    "Kenia": "Kenya",
    "Togo": "Togo",
    "Ucrania": "Ukraine",
    "Polonia": "Poland",
    "Portugal": "Portugal",
    "Rumania": "Romania",
    "Trinidad y Tobago": "Trinidad and Tobago",
    "Afganistn": "Afghanistan",
    "Pakistn": "Pakistan",
    "Vietnam": "Vietnam",
    "Malasia": "Malaysia",
    "Finlandia": "Finland",
    "Rusia": "Russia",
    "Irlanda": "Ireland",
    "Noruega": "Norway",
    "Eslovaquia": "Slovakia",
    "Blgica": "Belgium",
    "Bolivia": "Bolivia",
    "Chile": "Chile",
    "Jamaica": "Jamaica",
    "Yemen": "Yemen",
    "Ghana": "Ghana",
    "Guinea": "Guinea",
    "Etiopa": "Ethiopia",
    "Bulgaria": "Bulgaria",
    "Kirguistn": "Kyrgyzstan",
    "Georgia": "Georgia",
    "Nepal": "Nepal",
    "Emiratos rabes Unidos": "United Arab Emirates",
    "Camboya": "Cambodia",
    "Uganda": "Uganda",
    "Lesoto": "Lesotho",
    "Lituania": "Lithuania",
    "Suiza": "Switzerland",
    "Hungra": "Hungary",
    "Dinamarca": "Denmark",
    "Hait": "Haiti",
    "Bielorrusia": "Belarus",
    "Croacia": "Croatia",
    "Laos": "Laos",
    "Barin": "Bahrain",
    "Macedonia": "North Macedonia",
    "Repblica Checa": "Czech Republic",
    "Sri Lanka": "Sri Lanka",
    "Zimbabue": "Zimbabwe",
    "Eritrea": "Eritrea",
    "Burkina Faso": "Burkina Faso",
    "Costa Rica": "Costa Rica",
    "Libia": "Libya",
    "Barbados": "Barbados",
    "Tayikistn": "Tajikistan",
    "Siria": "Syria",
    "Guadalupe": "Guadeloupe",
    "Papa Nueva Guinea": "Papua New Guinea",
    "Azerbaiyn": "Azerbaijan",
    "Turkmenistn": "Turkmenistan",
    "Paraguay": "Paraguay",
    "Jordania": "Jordan",
    "Hong Kong": "Hong Kong",
    "Martinica": "Martinique",
    "Moldavia": "Moldova",
    "Qatar": "Qatar",
    "Mali": "Mali",
    "Albania": "Albania",
    "Repblica del Congo": "Republic of the Congo",
    "Bosnia y Herzegovina": "Bosnia and Herzegovina",
    "Omn": "Oman",
    "Tnez": "Tunisia",
    "Sierra Leona": "Sierra Leone",
    "Yibuti": "Djibouti",
    "Burundi": "Burundi",
    "Montenegro": "Montenegro",
    "Gabn": "Gabon",
    "Sudn del Sur": "South Sudan",
    "Luxemburgo": "Luxembourg",
    "Namibia": "Namibia",
    "Mauritania": "Mauritania",
    "Grecia": "Greece",
    "Suazilandia": "Eswatini",
    "Guyana": "Guyana",
    "Guayana Francesa": "French Guiana",
    "Repblica Centroafricana": "Central African Republic",
    "Taiwn": "Taiwan",
    "Estonia": "Estonia",
    "Lbano": "Lebanon",
    "Chipre": "Cyprus",
    "Guinea-Bissau": "Guinea-Bissau",
    "Surinam": "Suriname",
    "Belice": "Belize",
    "Eslovenia": "Slovenia",
    "Repblica de Gambia": "Gambia",
    "Botsuana": "Botswana",
    "Armenia": "Armenia",
    "Guinea Ecuatorial": "Equatorial Guinea",
    "Kuwait": "Kuwait",
    "Butn": "Bhutan",
    "Chad": "Chad",
    "Serbia": "Serbia",
    "Shara Occidental": "Western Sahara"
}

           
df['Order Country'] = df['Order Country'].replace(fix_map)

In [ ]:
# saving cleaned data to csv
df.to_csv(r"C:\Users\ADMIN\Downloads\new_supply_pro\Cleaned_Supply_Chain_Dataset.csv", index=False)

In [ ]:
len(df['Product Category Id'].unique())
len(df['Product Card Id'].unique())

118

In [ ]:
df.groupby('Category Name')['Product Category Id'].nunique().sort_values(ascending=False)

In [ ]:
df.groupby('Late_delivery_risk')['Late_delivery_risk'].count()

Late_delivery_risk
0    81542
1    98977
Name: Late_delivery_risk, dtype: int64

In [ ]:
df['Order Id'].nunique()
df['Order Item Id'].nunique()
df['Order Item Cardprod Id'].nunique()

118

In [ ]:
# checking whether 'Order Customer Id' and 'Customer Id' have same number of unique values
print(df['Order Customer Id'].nunique())
print(df['Customer Id'].nunique())

20652
20652