In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ADMIN\Downloads\new_supply_pro\DataCoSupplyChainDataset.csv", encoding="latin1")
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [2]:
df.shape

(180519, 53)

In [3]:
df.tail()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 3:40,Standard Class
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 21:00,Standard Class
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 20:18,Standard Class
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 18:54,Standard Class

In [4]:
df.loc[df['Customer Zipcode'].isna(),['Customer Zipcode','Customer City']]
df.loc[df['Customer City']=="CA"][['Customer Zipcode']]
df['Customer Zipcode']=df['Customer Zipcode'].fillna(df['Customer Zipcode'].mode()[0])

In [5]:
df.isna().sum()
df['Customer Lname'] = df['Customer Lname'].fillna(df['Customer Lname'].mode()[0])
df.isna().sum()

Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Sales per customer                    0
Delivery Status                       0
Late_delivery_risk                    0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Email                        0
Customer Fname                        0
Customer Id                           0
Customer Lname                        0
Customer Password                     0
Customer Segment                      0
Customer State                        0
Customer Street                       0
Customer Zipcode                      0
Department Id                         0
Department Name                       0
Latitude                              0
Longitude                             0
Market                                0
Order City                            0
Order Country                         0
Order Customer Id                     0
order date (DateOrders)               0
Order Id                              0
Order Item Cardprod Id                0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Id                         0
Order Item Product Price              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Item Total                      0
Order Profit Per Order                0
Order Region                          0
Order State                           0
Order Status                          0
Order Zipcode                    155679
Product Card Id                       0
Product Category Id                   0
Product Description              180519
Product Image                         0
Product Name                          0
Product Price                         0
Product Status                        0
shipping date (DateOrders)            0
Shipping Mode                         0
dtype: int64

In [6]:
df.dtypes

Type                              object
Days for shipping (real)           int64
Days for shipment (scheduled)      int64
Benefit per order                float64
Sales per customer               float64
Delivery Status                   object
Late_delivery_risk                 int64
Category Id                        int64
Category Name                     object
Customer City                     object
Customer Country                  object
Customer Email                    object
Customer Fname                    object
Customer Id                        int64
Customer Lname                    object
Customer Password                 object
Customer Segment                  object
Customer State                    object
Customer Street                   object
Customer Zipcode                 float64
Department Id                      int64
Department Name                   object
Latitude                         float64
Longitude                        float64
Market                            object
Order City                        object
Order Country                     object
Order Customer Id                  int64
order date (DateOrders)           object
Order Id                           int64
Order Item Cardprod Id             int64
Order Item Discount              float64
Order Item Discount Rate         float64
Order Item Id                      int64
Order Item Product Price         float64
Order Item Profit Ratio          float64
Order Item Quantity                int64
Sales                            float64
Order Item Total                 float64
Order Profit Per Order           float64
Order Region                      object
Order State                       object
Order Status                      object
Order Zipcode                    float64
Product Card Id                    int64
Product Category Id                int64
Product Description              float64
Product Image                     object
Product Name                      object
Product Price                    float64
Product Status                     int64
shipping date (DateOrders)        object
Shipping Mode                     object
dtype: object

In [7]:
str_columns = df.select_dtypes(include=['object']).columns
df[str_columns] = df[str_columns].apply(lambda x: x.str.strip())

In [8]:
df.groupby('Order Status')['Order Status'].count()

Order Status
CANCELED            3692
CLOSED             19616
COMPLETE           59491
ON_HOLD             9804
PAYMENT_REVIEW      1893
PENDING            20227
PENDING_PAYMENT    39832
PROCESSING         21902
SUSPECTED_FRAUD     4062
Name: Order Status, dtype: int64

In [9]:
df.groupby('Product Name')['Product Name'].count()
df.groupby('Shipping Mode')['Shipping Mode'].count()
df.groupby('Delivery Status')['Delivery Status'].count()
df.groupby('Type')['Type'].count()
df.groupby('Order Region')['Order Region'].count()

Order Region
Canada               959
Caribbean           8318
Central Africa      1677
Central America    28341
Central Asia         553
East Africa         1852
East of USA         6915
Eastern Asia        7280
Eastern Europe      3920
North Africa        3232
Northern Europe     9792
Oceania            10148
South America      14935
South Asia          7731
South of  USA       4045
Southeast Asia      9539
Southern Africa     1157
Southern Europe     9431
US Center           5887
West Africa         3696
West Asia           6009
West of USA         7993
Western Europe     27109
Name: Order Region, dtype: int64

In [10]:
for col in str_columns:
    df[col] = df[col].str.encode('latin1',errors='ignore').str.decode('utf-8',errors='ignore')

df.dtypes

Type                              object
Days for shipping (real)           int64
Days for shipment (scheduled)      int64
Benefit per order                float64
Sales per customer               float64
Delivery Status                   object
Late_delivery_risk                 int64
Category Id                        int64
Category Name                     object
Customer City                     object
Customer Country                  object
Customer Email                    object
Customer Fname                    object
Customer Id                        int64
Customer Lname                    object
Customer Password                 object
Customer Segment                  object
Customer State                    object
Customer Street                   object
Customer Zipcode                 float64
Department Id                      int64
Department Name                   object
Latitude                         float64
Longitude                        float64
Market                            object
Order City                        object
Order Country                     object
Order Customer Id                  int64
order date (DateOrders)           object
Order Id                           int64
Order Item Cardprod Id             int64
Order Item Discount              float64
Order Item Discount Rate         float64
Order Item Id                      int64
Order Item Product Price         float64
Order Item Profit Ratio          float64
Order Item Quantity                int64
Sales                            float64
Order Item Total                 float64
Order Profit Per Order           float64
Order Region                      object
Order State                       object
Order Status                      object
Order Zipcode                    float64
Product Card Id                    int64
Product Category Id                int64
Product Description              float64
Product Image                     object
Product Name                      object
Product Price                    float64
Product Status                     int64
shipping date (DateOrders)        object
Shipping Mode                     object
dtype: object

In [11]:
df['shipping date (DateOrders)'] = pd.to_datetime(df['shipping date (DateOrders)'], errors='coerce')
df['order date (DateOrders)'] = pd.to_datetime(df['order date (DateOrders)'], errors='coerce')

df['Order State'] = df['Order State'].replace('Rajastn', 'Rajasthan')
df['Order State'] = df['Order State'].replace('Tokio', 'Tokyo')

df.groupby('Order State')['Order State'].count()
df['Order City'] = df['Order City'].replace('Tokio', 'Tokyo')
df['Order Country'] = df['Order Country'].replace('Singapur', 'Singapore')
df['Order Country'] = df['Order Country'].replace('Repblica Dominicana', 'Dominican Republic')

In [12]:
fix_map ={
    "Indonesia": "Indonesia",
    "India": "India",
    "Australia": "Australia",
    "China": "China",
    "Japn": "Japan",
    "Corea del Sur": "South Korea",
    "Singapore": "Singapore",
    "Turqua": "Turkey",
    "Mongolia": "Mongolia",
    "Estados Unidos": "United States",
    "Nigeria": "Nigeria",
    "Repblica Democrtica del Congo": "Democratic Republic of the Congo",
    "Senegal": "Senegal",
    "Marruecos": "Morocco",
    "Germany": "Germany",
    "France": "France",
    "Pases Bajos": "Netherlands",
    "Reino Unido": "United Kingdom",
    "Guatemala": "Guatemala",
    "El Salvador": "El Salvador",
    "Panama": "Panama",
    "Dominican Republic": "Dominican Republic",
    "Venezuela": "Venezuela",
    "Colombia": "Colombia",
    "Honduras": "Honduras",
    "Brazil": "Brazil",
    "Mexico": "Mexico",
    "Uruguay": "Uruguay",
    "Argentina": "Argentina",
    "Cuba": "Cuba",
    "Per": "Peru",
    "Nicaragua": "Nicaragua",
    "Ecuador": "Ecuador",
    "Angola": "Angola",
    "Sudan": "Sudan",
    "Somalia": "Somalia",
    "Costa de Marfil": "Ivory Coast",
    "Egypt": "Egypt",
    "Italy": "Italy",
    "Espaa": "Spain",
    "Suecia": "Sweden",
    "Austria": "Austria",
    "Canada": "Canada",
    "Madagascar": "Madagascar",
    "Argelia": "Algeria",
    "Liberia": "Liberia",
    "Zambia": "Zambia",
    "Nger": "Niger",
    "SudAfrica": "South Africa",
    "Mozambique": "Mozambique",
    "Tanzania": "Tanzania",
    "Ruanda": "Rwanda",
    "Israel": "Israel",
    "Nueva Zelanda": "New Zealand",
    "Banglads": "Bangladesh",
    "Tailandia": "Thailand",
    "Irak": "Iraq",
    "Arabia Saud": "Saudi Arabia",
    "Filipinas": "Philippines",
    "Kazajistn": "Kazakhstan",
    "Irn": "Iran",
    "Myanmar (Birmania)": "Myanmar",
    "Uzbekistn": "Uzbekistan",
    "Benn": "Benin",
    "Camern": "Cameroon",
    "Kenia": "Kenya",
    "Togo": "Togo",
    "Ucrania": "Ukraine",
    "Polonia": "Poland",
    "Portugal": "Portugal",
    "Rumania": "Romania",
    "Trinidad y Tobago": "Trinidad and Tobago",
    "Afganistn": "Afghanistan",
    "Pakistn": "Pakistan",
    "Vietnam": "Vietnam",
    "Malasia": "Malaysia",
    "Finlandia": "Finland",
    "Rusia": "Russia",
    "Irlanda": "Ireland",
    "Noruega": "Norway",
    "Eslovaquia": "Slovakia",
    "Blgica": "Belgium",
    "Bolivia": "Bolivia",
    "Chile": "Chile",
    "Jamaica": "Jamaica",
    "Yemen": "Yemen",
    "Ghana": "Ghana",
    "Guinea": "Guinea",
    "Etiopa": "Ethiopia",
    "Bulgaria": "Bulgaria",
    "Kirguistn": "Kyrgyzstan",
    "Georgia": "Georgia",
    "Nepal": "Nepal",
    "Emiratos rabes Unidos": "United Arab Emirates",
    "Camboya": "Cambodia",
    "Uganda": "Uganda",
    "Lesoto": "Lesotho",
    "Lituania": "Lithuania",
    "Suiza": "Switzerland",
    "Hungra": "Hungary",
    "Dinamarca": "Denmark",
    "Hait": "Haiti",
    "Bielorrusia": "Belarus",
    "Croacia": "Croatia",
    "Laos": "Laos",
    "Barin": "Bahrain",
    "Macedonia": "North Macedonia",
    "Repblica Checa": "Czech Republic",
    "Sri Lanka": "Sri Lanka",
    "Zimbabue": "Zimbabwe",
    "Eritrea": "Eritrea",
    "Burkina Faso": "Burkina Faso",
    "Costa Rica": "Costa Rica",
    "Libia": "Libya",
    "Barbados": "Barbados",
    "Tayikistn": "Tajikistan",
    "Siria": "Syria",
    "Guadalupe": "Guadeloupe",
    "Papa Nueva Guinea": "Papua New Guinea",
    "Azerbaiyn": "Azerbaijan",
    "Turkmenistn": "Turkmenistan",
    "Paraguay": "Paraguay",
    "Jordania": "Jordan",
    "Hong Kong": "Hong Kong",
    "Martinica": "Martinique",
    "Moldavia": "Moldova",
    "Qatar": "Qatar",
    "Mali": "Mali",
    "Albania": "Albania",
    "Repblica del Congo": "Republic of the Congo",
    "Bosnia y Herzegovina": "Bosnia and Herzegovina",
    "Omn": "Oman",
    "Tnez": "Tunisia",
    "Sierra Leona": "Sierra Leone",
    "Yibuti": "Djibouti",
    "Burundi": "Burundi",
    "Montenegro": "Montenegro",
    "Gabn": "Gabon",
    "Sudn del Sur": "South Sudan",
    "Luxemburgo": "Luxembourg",
    "Namibia": "Namibia",
    "Mauritania": "Mauritania",
    "Grecia": "Greece",
    "Suazilandia": "Eswatini",
    "Guyana": "Guyana",
    "Guayana Francesa": "French Guiana",
    "Repblica Centroafricana": "Central African Republic",
    "Taiwn": "Taiwan",
    "Estonia": "Estonia",
    "Lbano": "Lebanon",
    "Chipre": "Cyprus",
    "Guinea-Bissau": "Guinea-Bissau",
    "Surinam": "Suriname",
    "Belice": "Belize",
    "Eslovenia": "Slovenia",
    "Repblica de Gambia": "Gambia",
    "Botsuana": "Botswana",
    "Armenia": "Armenia",
    "Guinea Ecuatorial": "Equatorial Guinea",
    "Kuwait": "Kuwait",
    "Butn": "Bhutan",
    "Chad": "Chad",
    "Serbia": "Serbia",
    "Shara Occidental": "Western Sahara"
}

           
df['Order Country'] = df['Order Country'].replace(fix_map)

In [13]:
df['Order Country'].unique()
print(df['Order City'].unique())

['Bekasi' 'Bikaner' 'Townsville' ... 'Tongling' 'Liuyang' 'Nashua']

In [14]:
df.to_csv(r"C:\Users\ADMIN\Downloads\new_supply_pro\Cleaned_Supply_Chain_Dataset.csv", index=False)

In [ ]:
df.shape
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:1234@localhost:3306/supply_chain_data')
# df.to_sql('Denormalized', engine, if_exists='replace', index=False, chunksize=5000)

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(mysql+pymysql://root:***@localhost:3306/supply_chain_data): (Denormalized)

In [ ]:
len(df['Product Category Id'].unique())
len(df['Product Card Id'].unique())

118

In [ ]:
df.shape

(180519, 53)

In [ ]:
df.groupby('Category Name')['Product Category Id'].nunique().sort_values(ascending=False)

Category Name
Electronics             2
Accessories             1
As Seen on  TV!         1
Baby                    1
Basketball              1
Baseball & Softball     1
Boxing & MMA            1
CDs                     1
Cameras                 1
Books                   1
Camping & Hiking        1
Cardio Equipment        1
Cleats                  1
Children's Clothing     1
Computers               1
Consumer Electronics    1
Crafts                  1
DVDs                    1
Fishing                 1
Fitness Accessories     1
Garden                  1
Girls' Apparel          1
Golf Apparel            1
Golf Bags & Carts       1
Golf Balls              1
Golf Gloves             1
Golf Shoes              1
Health and Beauty       1
Hockey                  1
Hunting & Shooting      1
Indoor/Outdoor Games    1
Kids' Golf Clubs        1
Lacrosse                1
Men's Clothing          1
Men's Footwear          1
Men's Golf Clubs        1
Music                   1
Pet Supplies            1
Shop By Sport           1
Soccer                  1
Sporting Goods          1
Strength Training       1
Tennis & Racquet        1
Toys                    1
Trade-In                1
Video Games             1
Water Sports            1
Women's Apparel         1
Women's Clothing        1
Women's Golf Clubs      1
Name: Product Category Id, dtype: int64

In [ ]:
df.groupby('Late_delivery_risk')['Late_delivery_risk'].count()

Late_delivery_risk
0    81542
1    98977
Name: Late_delivery_risk, dtype: int64

In [ ]:
df['Order Id'].nunique()
df['Order Item Id'].nunique()
df['Order Item Cardprod Id'].nunique()

118

In [ ]:
df.columns.tolist()

['Type',
 'Days for shipping (real)',
 'Days for shipment (scheduled)',
 'Benefit per order',
 'Sales per customer',
 'Delivery Status',
 'Late_delivery_risk',
 'Category Id',
 'Category Name',
 'Customer City',
 'Customer Country',
 'Customer Email',
 'Customer Fname',
 'Customer Id',
 'Customer Lname',
 'Customer Password',
 'Customer Segment',
 'Customer State',
 'Customer Street',
 'Customer Zipcode',
 'Department Id',
 'Department Name',
 'Latitude',
 'Longitude',
 'Market',
 'Order City',
 'Order Country',
 'Order Customer Id',
 'order date (DateOrders)',
 'Order Id',
 'Order Item Cardprod Id',
 'Order Item Discount',
 'Order Item Discount Rate',
 'Order Item Id',
 'Order Item Product Price',
 'Order Item Profit Ratio',
 'Order Item Quantity',
 'Sales',
 'Order Item Total',
 'Order Profit Per Order',
 'Order Region',
 'Order State',
 'Order Status',
 'Order Zipcode',
 'Product Card Id',
 'Product Category Id',
 'Product Description',
 'Product Image',
 'Product Name',
 'Product Price',
 'Product Status',
 'shipping date (DateOrders)',
 'Shipping Mode']

In [ ]:
df['Customer Segment'].head()

0       Consumer
1       Consumer
2       Consumer
3    Home Office
4      Corporate
Name: Customer Segment, dtype: object

In [ ]:
df['Order Item Cardprod Id'].nunique()
print(df['Order Customer Id'].nunique())
print(df['Customer Id'].nunique())

20652
20652

In [16]:
df3 = pd.read_sql_table('denormalized', engine)
df3.columns

OperationalError: (pymysql.err.OperationalError) (1213, 'Deadlock found when trying to get lock; try restarting transaction')
[SQL: SELECT denormalized.`Type`, denormalized.`Days for shipping (real)`, denormalized.`Days for shipment (scheduled)`, denormalized.`Benefit per order`, denormalized.`Sales per customer`, denormalized.`Delivery Status`, denormalized.`Late_delivery_risk`, denormalized.`Category Id`, denormalized.`Category Name`, denormalized.`Customer City`, denormalized.`Customer Country`, denormalized.`Customer Email`, denormalized.`Customer Fname`, denormalized.`Customer Id`, denormalized.`Customer Lname`, denormalized.`Customer Password`, denormalized.`Customer Segment`, denormalized.`Customer State`, denormalized.`Customer Street`, denormalized.`Customer Zipcode`, denormalized.`Department Id`, denormalized.`Department Name`, denormalized.`Latitude`, denormalized.`Longitude`, denormalized.`Market`, denormalized.`Order City`, denormalized.`Order Country`, denormalized.`Order Customer Id`, denormalized.`order date (DateOrders)`, denormalized.`Order Id`, denormalized.`Order Item Cardprod Id`, denormalized.`Order Item Discount`, denormalized.`Order Item Discount Rate`, denormalized.`Order Item Id`, denormalized.`Order Item Product Price`, denormalized.`Order Item Profit Ratio`, denormalized.`Order Item Quantity`, denormalized.`Sales`, denormalized.`Order Item Total`, denormalized.`Order Profit Per Order`, denormalized.`Order Region`, denormalized.`Order State`, denormalized.`Order Status`, denormalized.`Order Zipcode`, denormalized.`Product Card Id`, denormalized.`Product Category Id`, denormalized.`Product Description`, denormalized.`Product Image`, denormalized.`Product Name`, denormalized.`Product Price`, denormalized.`Product Status`, denormalized.`shipping date (DateOrders)`, denormalized.`Shipping Mode`
FROM denormalized]
(Background on this error at: https://sqlalche.me/e/20/e3q8)